@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********** navbar **********/

header li a,
header button {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3%;
  background-color: #1a1a1a;
  z-index: 1;

  position: fixed;
  width: 100%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  width: auto;
  height: 50px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li:last-child {
  padding-left: 20px;
  padding-right: 40px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgba(97, 180, 108, 1);
}

button {
  padding-left: 20px;
  padding: 9px 25px;
  background-color: rgba(97, 180, 108, 1);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(97, 180, 108, 0.6);
}

/********** container **********/
/* #container {
  display: block;
  align-items: center;
  justify-content: center;
} */

/********** section **********/

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section h1 {
  font-size: 48px;
}

/********** s1 **********/

.s1 h1,
.s1 p {
  color: white;
}

.s1 p {
  font-size: 20px;
  font-weight: 500;
}

.s1 .content {
  background-color: #96c261;
  padding: 80px 30px;
  border-radius: 15px;
}

/********** s2 **********/

.s2 h1 {
  color: #494949;
}

.s2 h1 .point {
  color: #96c261;
}

.s2 .icon {
  width: 536px;
  height: 759px;
}

.s2 .icon img {
  display: block;
  position: absolute;
}

.s2 .icon .box1 {
  z-index: 3;
}

.s2 .icon .box2 {
  z-index: 2;
}

.s2 .icon .box3 {
  z-index: 1;
}
